@page "/componentlifecycle"

<h2>Component Lifecycle</h2>

<h3>Important Lifecycle Events</h3>
<h5>1</h5>
<p>OnInitialized()</p>
<p>OnInitializedAsync()</p>

<h5>2</h5>
<p>OnParametersSet()</p>
<p>OnParametersSetAsync()</p>

<h5>3</h5>
<p>OnAfterRender()</p>
<p>OnAfterRenderAsync()</p>
<label>The component is ready and has been created.</label>
<label>However, when any javascript code needs to be interacted with, do it here</label>
